.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.welcome-container {
    text-align: center;
}

/* White text box */
.welcome-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

.game-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}