/* Button styling */
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale(0.98);
}

/* Disabled button */
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

input, select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

/* Example for top tab */
.top-tab {
    height: 50px; /* Set a fixed height */
    position: sticky; /* Change from fixed to sticky */
    top: 0;
    width: 100%;
    background-color: #fff; /* Background color to ensure visibility */
    z-index: 1000; /* Ensure it is above other content */
}

/* Adjust mainContainer to account for the top tab */
.mainContainer {
    padding-top: 100px; /* Adjust this value to be equal to the height of the top tab */
    /* Remove margin-top if it exists */
}